<%include partials/header %>

<div class="container">

<div>
  <header class='jumbotron'>
    <div class = 'container'>
      <h1>Vacation Finder</h1>
    </div>
  </header>

  <a class="btn btn-primary btn-large" href='/vacationSpots'>View Vacation Spots</a> <br/> <br/>

  <a class="btn btn-primary btn-large" href='/vacationSpots/new'>Add a New Vacation Spot</a>
  <%include partials/footer %>
</div>
